#main-doc {
    display: grid; 
    grid-template-columns: 25% 1fr;
    
}

.documentation {
    grid-column: 2 / 3;
}

.nav {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

}

#navbar {
    display: flex; 
    flex-direction: column;
}